.book-details-content {
  top: 10px;
  position: relative;
}

.book-details-content .book-meta {
  top: 10px;
}

.book-details-content .book-cover img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.book-details-content .btn {
  border: 1px solid;
  border-radius: 8px;
}

.book-details-content .btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.8;
  border-radius: 0.2rem;
  border-color: gray;
  color: gray;
}
