.books-table .books-table-image {
  max-height: 100px;
  max-width: 65px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* .books-table .bookmeta {
  padding-left: 10px;
} */

.books-table .bookmeta .bookmeta-title {
  font-size: 14px;
  white-space: normal;
  padding-bottom: 10px;
}

.books-table .bookmeta .bookmeta-author {
  margin-top: 10px;
  margin-bottom: 10px;
}
.books-table .bookmeta .bookmeta-category {
  margin-top: 10px;
  margin-bottom: 10px;
}

.books-table-description {
  white-space: normal;
  max-height: 150px;
  overflow-y: scroll;
}

/* Fix bootstrap sort icon problem */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup,
.dropdown {
  position: relative;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: '';
}
/* Fix bootstrap sort icon problem */
