/* For search bar component */
* { box-sizing: border-box; }
form.search-form .autocomplete {
  display: inline-block;
  width: 100%;
  position: relative;
}

form.search-form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 0px 0px 0px 0px ;
  float: left;
  width: 85%;
  background: #f1f1f1;
}

form.search-form button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 0px 0px 0px 0px ;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search-form button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search-form::after {
  content: "";
  clear: both;
  display: table;
}

form.search-form .autocomplete-items {
  width: 85%;
}