body {
  font-family: 'Montserrat', sans-serif;
  background: #f3f3f3;
  color: #333 !important;
  margin-top: 20px;
  font-size: 13px!important;
}

a {
  color: #337ab7;
  text-decoration: none;
}

ol,
ul {
  padding-left: 30px;
}

.left-panel {
  height: 500px;
  background-color: grey;
  padding: 20px;
  margin: 20px;
}

.right-panel {
  height: 500px;
  background-color: grey;
  padding: 20px;
  margin: 20px;
}

i {
  margin-right: 5px;
}